.unit {
    width: 68px;
    height: 82px;
    margin: 0 0 0 0;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    width: 68px;
}

.non-active {
    filter: grayscale(100%) brightness(70%);
}

.knight-carrier-1 {
    background: url(../img/units/knight/carrier-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-warrior-1 {
    background: url(../img/units/knight/warrior-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-cavalry-1 {
    background: url(../img/units/knight/cavalry-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-airborne-1 {
    background: url(../img/units/knight/airborne-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-archer-1 {
    background: url(../img/units/knight/archer-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-healer-1 {
    background: url(../img/units/knight/healer-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-mercenary-1 {
    background: url(../img/units/knight/mercenary-1.jpg) no-repeat;
    cursor: pointer;
}

.knight-mage-1 {
    background: url(../img/units/knight/mage-1.jpg) no-repeat;
    cursor: pointer;
}